

header {
 padding-block: 32px; /*espaçamento interno vertical(emcima e embaixo) de toda a caixa*/
 font: var(--text-md); /*Tipo da fonte*/
}

header .container { /*Os elementos ficam lado a lado detro da caixa .container que estão os elementos profile e info*/
 display: flex;
 justify-content: space-between; /*Espaço entre os elementos (joga pra as pontas o primeiro e ultimo elemento*/
 align-items: center;
}



#profile {
 display: flex; /*Os elementos ficam lado a lado detro da caixa - foto e nome/texto*/
 align-items: center; /*Centraliza os elementos verticalmente na caixa profile*/
 gap: 32px; /*Espaço entre os elementos da caixa - foto e os nome/texto*/
}

#profile h1 {
 font: var(--text-lg); /*Tipo da fonte*/
 color: var(--text-color-primary); /*Cor da fonte*/
 margin-bottom: 8px; /*espaço externo abaixo de um elemento*/
}

#profile > div {
 max-width: 384px; /*largura maxima da caixa do texto*/
}

#profile > img {
 width: 175px; /*Altura*/
 height: 175px; /*Largura*/
 object-fit: cover;  /*Evita deformação da imagem*/
 border-radius: 50%; /*Arredondando a foto*/
}

#info { /*caixa info contem os icones e texto dos icones*/
 list-style: none; /*Tira as bolinhas*/

 display: flex; /*Display Flex para podermos usar flex-direction: column */
 flex-direction: column; /*Muda a posição para um embaixo do outro*/
 gap: 16px; /*Espaço entre os elementos*/

 width: 286px; /*Tamanho ad caixa info*/
}

#info li { /*Mnipulando icone e texto do icone*/
 display: flex; /*Os elementos ficam lado a lado*/
 align-items: center; /*Centraliza os elementos verticalmente*/
 gap: 8px; /*Espaço entre o icone e o nome*/
}



/* Melhoria para responsividade no mobile:
Por no final do header.css
@media (max-width: 768px) {

 header .container {
  flex-direction: column;
  gap: 32px;
 }

 #profile {
  flex-direction: column;
  text-align: center;
 }

 #info {
  width: 100%;
  align-items: center;
 }

}*/