/* nav = Barra de Navegação (sempre por dentro de uma tag div) */


nav {
 display: flex; /*Display: flex; - Um elemento do lado do outro*/
 justify-content: space-between; /*Espaço entre os elementos (joga pra as pontas o primeiro e ultimo elemento*/
 align-items: center; /*Centraliza os elementos de forma horizontal*/

 padding-block: 20px; /*espaçamento interno vertical | 20px; 50px; Assim ficaria 20px emcima e 50 embaixo*/
}

nav ul {
 list-style: none; /* Retira as bolinhas da lista tag li*/
 display: flex; /* Põe os elementos lado a lado */
 align-items: center; /*Centraliza os elementos de forma horizontal*/
 gap: 24px; /*espaçamento entre elementos*/

 padding-block: 8px ; /*Todo espaçamento interno na vertical emcima e embaixo*/
}

nav ul li:last-child img { /*selecionar a imagem (img) que está dentro do último li de uma ul dentro do nav.*/
 width: 40px; /*Altura*/
 height: 40px; /*Largura*/
 object-fit: cover;  /*Evita deformação da imagem*/
 border-radius: 50%; /*Arredondando a foto*/
}

/* Melhoria para responsividade
@media (max-width: 600px){

 nav ul{
  gap: 16px;
 }

}*/